<section  class="cta-section"
  [ngStyle]="{ 'background-image': 'url(' + backgroundImage + ')' }">
  <div class="cta-content">
    <div class="cta-text">
      <h2>{{ title }}</h2>
      <p>{{ description }}</p>
      <div class="cta-buttons" *ngIf="primaryButtonText || secondaryButtonText">
        <button *ngIf="primaryButtonText" class="btn white">{{ primaryButtonText }}</button>
        <button *ngIf="secondaryButtonText" class="btn outline">{{ secondaryButtonText }}</button>
      </div>
    </div>
  </div>
</section>
