<div class="top-header">
  <div class="logo-area">
    <a routerLink="/"><img src="assets/logo.png" alt="Stony Point Logo" class="logo" /></a>
  </div>

  <!-- Hamburger for mobile -->
  <div class="hamburger" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <!-- Desktop Nav -->
  <nav class="main-nav" *ngIf="!isMobileMenuOpen">
    <ul>
      <li><a routerLink="/about">About Us</a></li>
      <li><a routerLink="/markets">Markets</a></li>
      <li><a routerLink="/impact">Impact</a></li>
      <li><a routerLink="/why">Why ABC?</a></li>
      <li><a routerLink="/blog">Blog</a></li>
      <li><a routerLink="/team">Team</a></li>
      <li><a routerLink="/contact">Contact</a></li>
    </ul>
  </nav>

  <div class="top-right">
    <div class="social-icons">
      <a target="_blank" href="https://www.facebook.com/abcgroupatl/"><i class="fab fa-facebook-f"></i></a>
      <a target="_blank" href="https://www.instagram.com/abcgroupatl/?hl=en"><i class="fab fa-instagram"></i></a>
      <a target="_blank" href="https://www.linkedin.com/company/abc-consultants-group-atl/"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
</div>

<div class="mobile-menu" [class.open]="isMobileMenuOpen">
  <button class="close-btn" (click)="toggleMenu()">×</button>

  <ul>
    <li><a routerLink="/about" (click)="toggleMenu()">About Us</a></li>
    <li><a routerLink="/markets" (click)="toggleMenu()">Markets</a></li>
    <li><a routerLink="/impact" (click)="toggleMenu()">Impact</a></li>
    <li><a routerLink="/why" (click)="toggleMenu()">Culture</a></li>
    <li><a routerLink="/blog" (click)="toggleMenu()">Blog</a></li>
    <li><a routerLink="/team" (click)="toggleMenu()">Team</a></li>
    <li><a routerLink="/contact" (click)="toggleMenu()">Contact us</a></li>
  </ul>

  <!-- Logo + Social Icons -->
  <div class="mobile-footer">
    <a routerLink="/">
      <img src="assets/logo.png" alt="Stony Point Logo" class="mobile-logo" />
    </a>

    <div class="social-icons">
      <i class="fab fa-facebook-f"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-linkedin"></i>
    </div>
  </div>
</div>



<div class="nav-accent-bar"></div>


<!-- Bottom Navigation Bar -->

