<app-cta
  [title]="'Our Team'"
  [backgroundImage]="'assets/banners/team-banner.jpeg'"
></app-cta>

<app-services
  [sectionTitle] = "'Meet the Visionaries'"
  [sectionSubtext] = "'Our team is built on ambition, mentorship, and a commitment to developing the next generation of business leaders.'"
  [services]="[
    {
      title: 'Angel Jacome',
      description: 'President & CEO, Angel is an entrepreneur and business coach. He grew up in Venezuela and moved to Georgia in 2001. He started his first two companies while going to Kennesaw State University and learned he had a passion for business and self-development at an early age.',
      route: '/team-member',
      image: 'assets/team/angel-jacome.png'
    },
    {
      title: 'Jesus Jacome',
      description: 'Senior Managing Partner, Jesus was born in Caracas, Venezuela and spent most of his early years in a small town one hour south of the Venezuelan capital. At the Age of 16, in August of 2001, Jacome’s parents decided to come to the US in search of a better future and to provide their children with superior education and greater opportunities.',
      route: '/team-member',
      image: 'assets/team/jesus-jacome.png'
    },
    {
      title: 'Joanna Jacome',
      description: 'Hub & HR Manager, Joanna is an Atlanta native! Before joining the ABC team, Joanna worked in the retail industry where she gained skills in customer service and leadership. Throughout her experience, she knew that wasn\'t enough for her. She wanted an opportunity that was challenging, had room for growth, and overall fun!',
      route: '/team-member',
      image: 'assets/team/joanna-jacome.png'
    },
    {
      title: 'Maria Urdaneta',
      description: 'Human Resources Recruiter, María Urdaneta is a Venezuelan professional passionate about business development, fashion and art, which led her to pursue careers in both public accounting and fashion design, earning degrees in both fields.',
      route: '/team-member',
      image: 'assets/team/maria-urdaneta.png',
    },
    {
      title: 'Amani Beliveau',
      description: 'Junior Partner, Amani completed his B.S. in Finance from Palm Beach Atlantic University. He later joined the ABC team in November 2018 and has been moving quickly up the rankings ever since.',
      route: '/team-member',
      image: 'assets/team/amani.png',
    },
    {
      title: 'Gabe Ganjura',
      description: 'Coming Soon',
      route: '/team-member',
      image: 'assets/team/gabe.png',
    },
    {
      title: 'Leon Gist',
      description: 'Coming Soon',
      route: '/team-member',
      image: 'assets/team/leon.png',
    },
    {
      title: 'Sandra Obidiegwu',
      description: 'Coming Soon',
      route: '/team-member',
      image: 'assets/team/sandra.png',
    },
    {
      title: 'Blake Clemons',
      description: 'Coming Soon',
      route: '/team-member',
      image: 'assets/team/blake.png',
    }
  ]"
></app-services>

<!-- <app-detail-section
  id="member-details"
  [imageUrls]="selectedMember.images"
  [title]="selectedMember.name"
  [description]="
    selectedMember.desc1
  "
  [description2]="
    selectedMember.desc2
  "
  [imageLeft]="true"
  [background]="'green'"
></app-detail-section> -->

<app-testimonials
  [quote]="testimonial.quote"
  [name]="testimonial.name"
  [avatar]="testimonial.avatar"
></app-testimonials>