<section class="mission-banner" [ngClass]="background">
  <div class="mission-bg">
    <img
      *ngFor="let img of imageUrls; let i = index"
      [src]="img"
      [alt]="'Mission image ' + i"
      [class.active]="i === currentIndex"
    />
    <div class="overlay"></div>
  </div>

  <div class="mission-content">
    <div class="inner">
      <h2>{{ title }}</h2>
      <p class="lead">{{ description }}</p>
      <p class="lead">{{ description2 }}</p>

      <a *ngIf="ctaLabel" [routerLink]="ctaLink" class="btn primary">
        {{ ctaLabel }}
      </a>
    </div>
  </div>
</section>
