<app-cta
  [title]="'Impact'"
  [backgroundImage]="'assets/banners/impact-banner.jpg'"
></app-cta>
<app-testimonials
  [quote]="testimonial.quote"
  [name]="testimonial.name"
  [avatar]="testimonial.avatar"
></app-testimonials>
<app-detail-section
  [imageUrls]="['assets/green-steps.jpg']"
  [title]="'Our Impact '"
  [description]="
    'Founded in 2011, ABC Consultants group has definitely created a reputation for itself in the direct marketing industry. Through hard work and dedication, ABC has expanded nationwide to seven locations and is expected to expand to three more markets by the end of the year. By simply providing authentic and effective branding for our clients. '
  "
  [description2]="
    'We believe face-to-face interaction, and engaging conversations are a great way to build profitable business relationships. Here at ABC Consultants Group, we thrive in providing endless opportunities for individuals that look for success that has no limits and willing to put the work in to gain the results they seek!'
  "
  [ctaLabel]="'Learn More'"
  [ctaLink]="'/contact'"
  [imageLeft]="true"
  [background]="'green'"
></app-detail-section>

<app-services
  [sectionTitle]="'Our Values'"
  [sectionSubtext]="'Here at ABC Consultants Group, we pride ourselves in the growth and development of young entrepreneurs, guided by relentless focus and unrivaled passion!'"
  [buttonLabel]="'Learn More'"
  [buttonLink]="'/about'"
  [services]="[
    {
      icon: 'fa-regular fa-face-smile-beam',
      iconType: 'fa',
      title: 'Positivity',
      description: 'Having positive energy is everything. It’s what fuels your mindset to conquer your task at hand but also reflects how others react towards you.',
      image: 'assets/services/impact1.jpg'
    },
    {
      icon: 'fa-solid fa-chart-line',
      iconType: 'fa',
      title: 'Performance',
      description: 'Here at ABC, we believe in 100% merit base. The results you put in are the results you’ll get in return. ',
      image: 'assets/services/impact2.jpg'
    },
    {
      icon: 'fa-solid fa-scale-balanced',
      iconType: 'fa',
      title: 'Integrity',
      description: 'We take pride in our morals and values and knowing what is right from wrong',
      image: 'assets/services/impact4.jpg'
    },
    {
      icon: 'fa-solid fa-hand-holding-heart',
      iconType: 'fa',
      title: 'Diversity',
      description: 'No matter what race, ethnicity, or background you may have we believe everyone deserves an equal opportunity and has their own uniqueness to help our business thrive.',
      image: 'assets/services/impact3.jpg'
    },
    {
      icon: 'fa-solid fa-hand-holding-heart',
      iconType: 'fa',
      title: 'Innovation',
      description: 'At ABC, we foster innovation by encouraging creativity, inclusiveness, adaptability, and resourcefulness.',
      image: 'assets/services/impact5.png'
    },
    {
      icon: 'fa-solid fa-hand-holding-heart',
      iconType: 'fa',
      title: 'Excellence',
      description: 'At ABC, we adhere to and uphold the rules and standards established for our company. We are committed to delivering high-quality outcomes by continuously learning and striving for improvement.',
      image: 'assets/services/impact6.png'
    }
  ]"
></app-services>