<section class="services-section">
  <div class="services-band">
    <div class="services-header">
      <p class="ui-kicker ui-kicker--center" *ngIf="sectionLabel">{{ sectionLabel }}</p>
      <h2 class="ui-title">{{ sectionTitle }}</h2>
      <p class="section-subtext" *ngIf="sectionSubtext">{{ sectionSubtext }}</p>
    </div>
  </div>

  <div class="services-cards">
    <article
      class="service-card"
      *ngFor="let service of services"
      [class.clickable]="!!service.data"
      (click)="service.data && onSelect(service.data)"
    >
      <div class="media" [style.backgroundImage]="service.image ? 'url(' + service.image + ')' : 'none'">
        <span class="icon" [ngSwitch]="service.iconType">
          <img *ngSwitchCase="'image'" [src]="service.icon" alt="" />
          <i *ngSwitchCase="'fa'" [class]="service.icon" aria-hidden="true"></i>
          <span *ngSwitchDefault>{{ service.icon }}</span>
        </span>
      </div>
      <div class="body">
        <h3 [innerHTML]="service.title"></h3>
        <p>{{ service.description }}</p>
      </div>
    </article>
  </div>

  <div class="services-buttons" *ngIf="buttonLabel">
    <a [routerLink]="buttonLink" class="ui-btn ui-btn--outline">{{ buttonLabel }} <i class="fa-solid fa-arrow-right" aria-hidden="true"></i></a>
  </div>
</section>
